<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login/Registration</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'loginreg/css/materialize.min.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'loginreg/css/style.css' %}">
        <script type="text/javascript" src="{% static 'loginreg/js/jquery-3.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'loginreg/js/materialize.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                Materialize.updateTextFields();
            });
        </script>
    </head>
    <body id="main">
        <div class="header z-depth-2">
            <p class="white-text">SPORTS PLANNER</p>
        </div>
        <div class="valign-wrapper row">
            <div class="col s3"></div>
            <div class="card-panel grey lighten-3 form col s4">
                <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" name="first_name">
                            <label class="active" for="icon_prefix">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" name="last_name">
                            <label for="last_name" class="active">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="text" name="email">
                            <label for="email" class="active">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">lock</i>
                            <input id="password" type="password" name="password">
                            <label for="password" class="active">Password</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="password_confirmation" type="password" name="password_confirmation">
                            <label for="password" class="active">Confirm Password</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">Register
                    <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
            <div class="card-panel grey lighten-3 form col s3">
                <form action="/login" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="text" name="email">
                            <label for="email" class="active">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="password" type="password" name="password">
                            <label for="password" class="active">Password</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">Log In
                    <i class="material-icons right">send</i>
                </form>
            </div>
            <div class="col s3"></div>
        </div>
        <div class="valign-wrapper">
            <div class="row">
                <div class="col s12">
                    {% if messages %}
                        {% for message in messages %}
                            <p class="error center-align">{{ message.message }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
